@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}


html{
  scroll-behavior: smooth;
}


.bg-hero {
  background-image: url("https://i.ibb.co.com/M8Jsg4f/1694048231405-t.jpg");
  background-position:50% center;
  background-repeat: no-repeat;
  background-size: cover;
}

.image-center {
  background-image: url("https://i.ibb.co/kc1Q3zv/ki-3.jpg");
  background-position:50% center;
  background-repeat: no-repeat;
  background-size: cover;
}



.bg-hero-hp {
  background-image: url("https://i.ibb.co/2PJRYs8/heroHP.png");
  background-position:50% center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-hero-news {
  background-image: url("https://i.ibb.co/XfHj2Q8/News-Letter.png");
  background-position:50% center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bg-hero-pillars {
  background-image: url("https://i.ibb.co/hKN31h6/Pillars.png");
  background-position:50% center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-namaz {
  background-image: url("https://i.ibb.co/7gTr1DW/namaz-timings.png");
  background-position:50% center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-img {
  background-image: url("https://i.ibb.co.com/mqNWzn7/her-3.jpg");
  background-position: 90% center; /* Mengambil bagian ujung kanan gambar */
  background-repeat: no-repeat;
  background-size: cover;
}

/* Jika Anda ingin memastikan bahwa gambar tidak diambil bagian ujung kirinya pada tampilan mobile, Anda bisa menambahkan media query seperti ini: */
@media (max-width: 640px) {
  .hero-img {
    background-position:75%; 
  }
  .bg-hero {
    background-position:50%; 
  }
  .bg-hero-hp {
    background-position:50%; 
  }
  .bg-hero-news {
    background-position:50%;
  }
  .bg-hero-pillars {
    background-position:50%;
  }
}

